<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname">
  <label for="email">E-mail address:</label><br>
  <input type="text" id="email">
  <label for="pass">Password:</label><br>
  <input type="text" id="pass">
  <label for="passRep">Repeat password:</label><br>
  <input type="text" id="passRep">
</form>
</body>
</html>